body:not(.agent-enabled) .agent-only {
  display: none;
}

#agent-toggle {
  display: flex;
  align-items: center;
  margin-left: 10px;
}


.navbar .navbar-icon-links + #agent-toggle {
  order: 999;
  display: flex;
  align-items: center;
}


.navbar-end-items #agent-toggle {
  display: flex;
  align-items: center;
  margin-left: 10px;
}


#agent-toggle input {
  margin-right: 4px;
}


body:not(.agent-enabled) .agent-only-link {
  display: none;
}
