body:not(.agent-enabled) .agent-only {
  display: none;
}

#agent-toggle {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-article-items #agent-toggle {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

#agent-toggle input {
  margin-right: 4px;
}


body:not(.agent-enabled) .agent-only-link {
  display: none;
}
